/* Community Styles */
a, a#visited {
color: #004e98;
text-decoration: none;
}
a#hover {
color: #D21204;
text-decoration: none;
border-bottom: dotted #D21204;
}
.letter, .letter_current {
width: 1em;
text-align: center;
border: 1px solid gray;
background: #fff;
padding: 5px 2px 1px 2px;
float: left;
margin: 2px
}
.letter:hover {
background: #fe4;
}
.letter_current {
background: #fe4;
font-weight: bold;
border: 1px solid black;
}

table.users {
border:1px solid #D21204 ;
background: #EEE;
margin-left: 2px;
width:495px;
text-align:center;
}
table.users td.bottom {
border-top: 1px solid #999;
padding-top: 10px;
}
table.users th {
color: white;
background: #D21204;
font-weight: normal;
}
table.users th a {
color: white;
text-decoration: underline;
}

table.users tr.even {
background: #ddd;
}
table.users tr.odd {
background: #eee;
}


/* Form Styles */
fieldset {
background: #f6f6f6;
width:375px;
margin-top:25px;
margin-left:35px;
margin-bottom:10px;
}
legend {
color: white;
background: #D21204;
padding: .4em 1em;
}
label {
width: 10em;
float: left;
text-align: right;
margin-right: 0.2em;
display: block;
}
slabel {
width: 70px;
float: left;
text-align: left;
margin-left: 10px;
display: block;
}

llabel {
width: 150px;
float: left;
margin-left:10px
font-size:x-small;
text-align: left;
margin-right:5px;
display: block;
}

.form_row {
white-space: nowrap;
padding-bottom: .5em;
}
.submit {
margin-left: 15em;
}

.header{
font-weight: bold;
font-size:10px;
}


/* site */

#welcome_header {
width:500px;
background-color: #759113;
color:white;
font-size:large;
margin-bottom:5px;
margin-top:15px; 
}

#welcome_header span{
margin:5px;
color:maroon;
font-size:large;
}

#wel_image1 {
float:left;
width:150px;
height:100px;
margin:5px;
}

#wel_image2 {
float:left; width:auto; height:auto; margin-left:5px;margin-right:15px; background-color: #fff; 
border:solid #759113; 
}

#wel_t {
width:200px; margin-left:5px;
}